.navbar{
  position: absolute;
  background-color: #333333;
  width: 150px;
}

.navbar a{
  display: block;
  font-size: 22px;
  font-family: "Trebuchet MS";
  color: white;
  text-decoration: none;
  padding: 25px 5px 20px 5px;
}

.navbar a:hover{
  background-color: #555555;
}

.navbar img{
  background-color: #555555;
   max-width: 100%;
   max-height: auto;
   padding-top: 5px;
}

.content{
  position: absolute;
  left: 200px;
  padding-right: 5px;
}

h1{
  text-align: center;
}

h1, p, table{
  font-family: "Trebuchet MS";
}

p, table{
  font-size: 20px;
}

td, th{
  width: 16%;
  padding: 4px;
  border: 1px solid #333;
}

table{
  width: 100%;
  empty-cells: hide;
  border-collapse: collapse;
}

td:empty{
  border: 0px;
}
