h1{
  font-size: 28px;
}

p{
  font-size: 14px;
}

h3{
  font-size: 20px;
}

li a{
  font-size: 14px;
  font-family: "Trebuchet MS"
}

h1, h3, p {
  text-align: center;
  font-family: "Trebuchet MS"
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 215px 16px 215px;
  text-decoration: none;
}

li a:hover{
  background: #555555;
}
